[submodule "Carthage/Checkouts/botkit"]
	path = Carthage/Checkouts/botkit
	url = ssh://git@github.com/utahiosmac/botkit.git
[submodule "Carthage/Checkouts/Playful"]
	path = Carthage/Checkouts/Playful
	url = ssh://git@github.com/derrh/Playful.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = ssh://git@github.com/Alamofire/Alamofire.git
